In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
veriler = pd.read_csv('audi.csv')

veriler = veriler.drop(['tax','mpg'],axis = 1)

In [3]:
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()
le2 = preprocessing.LabelEncoder()
le3 = preprocessing.LabelEncoder()

In [4]:
veriler.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType',
       'engineSize'],
      dtype='object')

In [5]:
veriler.model = le.fit_transform(veriler.model)
veriler.transmission = le2.fit_transform(veriler.transmission)
veriler.fuelType = le3.fit_transform(veriler.fuelType)

In [6]:

le2.classes_
le3.classes_
le.classes_

array([' A1', ' A2', ' A3', ' A4', ' A5', ' A6', ' A7', ' A8', ' Q2',
       ' Q3', ' Q5', ' Q7', ' Q8', ' R8', ' RS3', ' RS4', ' RS5', ' RS6',
       ' RS7', ' S3', ' S4', ' S5', ' S8', ' SQ5', ' SQ7', ' TT'],
      dtype=object)

In [7]:
veriler

       model  year  price  transmission  mileage  fuelType  engineSize
0          0  2017  12500             1    15735         2         1.4
1          5  2016  16500             0    36203         0         2.0
2          0  2016  11000             1    29946         2         1.4
3          3  2017  16800             0    25952         0         2.0
4          2  2019  17300             1     1998         2         1.0
...      ...   ...    ...           ...      ...       ...         ...
10663      2  2020  16999             1     4018         2         1.0
10664      2  2020  16999             1     1978         2         1.0
10665      2  2020  17199             1      609         2         1.0
10666      9  2017  19499             0     8646         2         1.4
10667      9  2016  15999             1    11855         2         1.4

[10668 rows x 7 columns]

In [8]:
x = veriler.drop(['price'],axis=1)
y= veriler.price.values

x

       model  year  transmission  mileage  fuelType  engineSize
0          0  2017             1    15735         2         1.4
1          5  2016             0    36203         0         2.0
2          0  2016             1    29946         2         1.4
3          3  2017             0    25952         0         2.0
4          2  2019             1     1998         2         1.0
...      ...   ...           ...      ...       ...         ...
10663      2  2020             1     4018         2         1.0
10664      2  2020             1     1978         2         1.0
10665      2  2020             1      609         2         1.0
10666      9  2017             0     8646         2         1.4
10667      9  2016             1    11855         2         1.4

[10668 rows x 6 columns]

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size=0.33, random_state=0)

In [10]:
from sklearn.ensemble import RandomForestRegressor

r_rf = RandomForestRegressor(n_estimators=70, random_state=0,min_samples_leaf=7)
r_rf.fit(x_train,y_train.ravel())

RandomForestRegressor(min_samples_leaf=7, n_estimators=70, random_state=0)

In [11]:
print(r_rf.predict([[0,2017,1,15735,2,1.4]]))

[13887.50669966]

In [12]:
r_rf.score(x_train,y_train)

0.9547174176033605

In [13]:
r_rf.score(x_test,y_test)

0.9284713048780244

In [14]:
import pickle
modeldosyasi = "rf_model"
pickle.dump(r_rf , open(modeldosyasi, 'wb'))